<header>
  <div class="navbar">
    <div class="logo">
      <span class="logo-mark">
        <span class="logo-mark-corner tl"></span>
        <span class="logo-mark-corner br"></span>
      </span>
      Extractify<span>Pro</span>
    </div>

    <nav>
      <a href="#" class="nav-active">Image to Text</a>
      <a href="#">Tools</a>
      <a href="#">Pricing</a>
      <a href="#">API</a>
    </nav>

    <div class="auth">
      <button class="signup">Log In</button>
    </div>
  </div>
</header>