<main>
    <!-- <div class="breadcrumb">Home &gt; Image to Text</div> -->
    <h1>Image to Text</h1>
    <p class="description">
      Extract text from image files using this Optical Character Recognition tool.
    </p>
  


    <form (submit)="onSubmit($event)" enctype="multipart/form-data" class="upload-box">
      <label for="file-upload" class="custom-upload">
        <input type="file" id="file-upload"  accept="image/*" (change)="onFileChange($event)"  />
      </label>
    
      <br><br>
      <button type="submit">Extract Text</button>
    
      <p>Max file size 1GB. <a href="#">Sign Up</a> for more</p>
      <small>By proceeding, you agree to our <a href="#">Terms of Use</a>.</small>
    </form>
    
  
    <div class="container">
      <textarea cols="10" rows="10" name="" id="textArea" [value]="extractedText" readonly>
       {{extractedText}}
      </textarea>
      <br>
      <div class="button-group">
        <button (click)="copyText()" class="copy-btn" >Copy</button>
        <button (click)="clearText()" class="copy-btn">Clear</button>
      </div>
    </div>

  </main>
  
  