<main>
    <div class="breadcrumb">Home &gt; Image to Text</div>
    <h1>Image to Text</h1>
    <p class="description">
      Extract text from image files using this Optical Character Recognition tool.
    </p>
  
    <div class="upload-box">
      <label for="file-upload" class="custom-upload">
        <input type="file" id="file-upload" hidden />
        <span>📁 Choose Files</span>
      </label>
      <p>Max file size 1GB. <a href="#">Sign Up</a> for more</p>
      <small>By proceeding, you agree to our <a href="#">Terms of Use</a>.</small>
    </div>
  </main>
  